@font-face {
	font-family: the-sans;
	src: url('TheSans-B7Bold.woff');
}
@font-face {
	font-family: the-sansb;
	src: url('TheSans-B9Black.woff');
}

body {
    font-size: 120%;
    
	color: #E30613;
	background-color: #F6B5B0;
	font-family: the-sans;
	text-align: center;

}

input.text {
	font-family: the-sans;
	font-size: 150%;
    width: 300px;
}

.content {
    position: absolute;
    left: 50%;

    width: 400px;

    margin-left: -200px;
    /* -1/2 width */
}

input.enter {
    font-size: 120%;
    font-family: the-sans;
	height: 50px;
	background-color: #C1DFC4;
	color: #951B81;
	border-color: #ffffff;
	border-width: 5px;
	border-style: solid;
	background-color: #C1DFC4;
	color: #951B81;
	width: 300px;
    margin-top: 50px;
}
h2 {margin-top:0;
margin-bottom:0;
font-family: the-sansb;
font-size: 120%;}

a:link, a:visited{
	color: #E30613;
}
a:active, a:hover{
	color: #951B81;
}

h3 {
    font-size: 130%;
}

.fat {
    font-family: the-sansb;
    font-size: 120%;
}

select {
    font-size: 80%;
    font-family: the-sans;
	height: 30px;
	background-color: #C1DFC4;
	color: #951B81;
	border-color: #ffffff;
	border-width: 5px;
	border-style: solid;
	background-color: #C1DFC4;
	color: #951B81;
	width: 300px;
    text-align: center;
}

.option {
    font-family: the-sans;
    text-align: center;
}

.hide {
    display: none;
}

.qr {
    height: 310px;
}

iframe {
    max-height: 17px;
    overflow: hidden;
    border: none;
    width: 20px;
}

.realtime {
    position: absolute;
    left: 0px;
    top: 0px;
}

.carwash{
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	height: 0;
	width: 0;
	z-index: -1;
}

.beschreibungstext {
	font-size: 70%;
	width: 300px;
	text-align: center;
	margin-left: 50px;
}